* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.black{
  background-color: black;
  width: 500px;
  height: 500px;
  position: relative;
  margin: 10px auto;
  
}
.yellow{
  background-color: yellow;
  width: 60%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.red{
  background-color: red;
  width: 20%;
  height: 20%;
  position: absolute;
  right: 0;
  top: 220px;
}